<h2 class="mb-5">DESTINOS</h2>

<div class="text-end mb-3">
  <button class="btn btn-primary" routerLink="/newDestino">Nuevo Destino</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>ESTADO</th>
      <th class="text-end">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let destino of destinos; trackBy: trackById">
      <td>{{ destino.id }}</td>
      <td>{{ destino.nombre }}</td>
      <td>{{ destino.estado ? 'Activo' : 'Inactivo' }}</td>
      <td class="text-end">
        <button class="btn btn-primary me-2" [routerLink]="['/destino', destino.id]">Editar</button>
        <button class="btn btn-danger" (click)="borrarDestino(destino.id!)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
