<h2 class="mb-5">
  @if(conductor){
    Editar}
    @else{
    Nuevo
    } Conductor
</h2>

<div class="row row-cols-3 justify-content-center">
  @if (form){
    <form [formGroup]="form" (ngSubmit)="save()">
 <div clas = "mb-3">
        <label for="nombre">Nombre</label>
        <input id= "nombre" type="text" placeholder="Nombre" class="form-control"
        formControlName="nombre">

      </div>

      <div clas = "mb-3">
        <label for="apellido">Apellido</label>
        <input id= "apellido" type="text" placeholder="Apellido" class="form-control"
        formControlName="apellido">

      </div>
      <div clas = "mb-3">
        <label for="cedula">Cedula</label>
        <input id= "cedula" type="number" placeholder="Cedula" class="form-control"
        formControlName="cedula">

      </div>
 <div clas = "mb-5">
       <label for="estado">Estado:</label>
    <select id="estado" formControlName="estado" class="form-control" required>
      <option [value]="true">Activo</option>
      <option [value]="false">Inactivo</option>
    </select>

        </div>

         <div class="text-end">
        <button type="button" class="btn btn-light" routerLink="/conductor">
          Cancelar
        </button>
         <button class="btn btn-primary ms-2">
          @if(conductor){
            Actualizar
          }@else {
            Crear
          } Conductor
        </button>
</div>

</form>

  }
</div>
